{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
<f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
	<f:then>
		<div class="add-faq">
			<h4><neos:contentElement.editable property="title">{title -> f:format.raw()}</neos:contentElement.editable></h4>
			<div>
				<ts:render path="faqCategoryItemCollection" />
			</div>
		</div>
	</f:then>
	<f:else>
		<div class="faq-category-structure">
			<div class="faq-category-heading">
				<h4>{title}</h4>
			</div>
			<div class="faq-category-detail">
				<ts:render path="faqCategoryItemCollection" />
			</div>
		</div>
	</f:else>
</f:security.ifAccess>